<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 부트스트랩 cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- 부트스트랩 아이콘 cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link th:href="@{css/mypage/mypage.css}" rel="stylesheet">
    <link th:href="@{css/basic.css}" rel="stylesheet">
    <link th:href="@{css/mypage/mypageNavStyle.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script th:src="@{js/mypageclick.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</head>
<body>
<!-- 헤더 영역 -->
<th:block th:replace="fragments/nav :: header"></th:block>


<!-- SNB 영역 -->
<th:block th:replace="fragments/nav :: navMenu"></th:block>

<!--메인 컨텐츠 nav-->
<th:block th:replace="fragments/mypage/mypageNav :: sosNav"></th:block>

<!-- 메인 컨텐츠 영역 -->
<th:block th:replace="fragments/mypage/mypagecontent"></th:block>

<!-- 푸터 영역 -->
<th:block th:replace="fragments/nav :: footer"></th:block>

<!--<script th:src="@{js/mypage.js}"></script>-->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 1,  // 한 번에 하나의 슬라이드(슬라이드마다 3개의 게시물 포함)
        spaceBetween: 10,  // 슬라이드 간의 간격
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        mousewheel: true,  // 마우스 휠을 사용하여 슬라이드를 넘길 수 있음
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</body>
</html>
