/* 기본 틀 */

.search-txt {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 6px;
    border: 2px solid #6BC7A0;
}

.search-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*  */