main#mainContent {
    display: flex;
    justify-content: center;
}

div#content {
    width: 1000px;
    height: 710px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.textarea1 {
    user-select: none;
    caret-color: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
    margin-right: 260px;
    /* border: none; */
    border-color: #ebebeb;
    border: 1px solid #c8c8c8;
    color: #616161;
    height: 28px;
    border-radius: 2px;
    background-color: #f9f9f9;
}

.categoryform {
    display: block;
    width: 930px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.writegroup {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

input.titlearea {
    outline: none;
    width: 930px;
    border: none;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 15px;
}

textarea#boardcontent {
    resize: none;
    width: 930px;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    border: none;
    outline: none;
    height: 400px;
}

textarea {
    resize: none;
    width: 930px;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    border: none;
    outline: none;
    height: 400px;
}

input#file {
    margin-left: 15px;
}

.submitgroup {
    text-align: right;
    margin-right: 15px;
}

button.commentSubmit {
    width: 70px;
    height: 40px;
    background-color: #6bc7a033;
    border: none;
    border-radius: 3px;
}

a#listGoLink {
    display: inline-block;
    background-color: #66b7df;
    width: 70px;
    height: 40px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: white;
    margin-top: 4px;
}

div#clickableDiv {
    margin-top: 5px;
    margin-left: 875px;
}