

.header_point {
    margin: 0 auto;
    width: 400px;
    height: 80px;
    display: block;
    align-items: center;
}
.container {
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 0 auto;    /* 화면 중앙에 배치 */
    padding: 20px;     /* 패딩 설정 */
}


.button_getjellylist{
    font-size: 18px;
    color: #989898 ;
    padding-right: 3px;
    text-decoration-line: none;
    width: 170px;
    height: 40px;

}

.button-background{
    background-color: #ace6c7;
    margin-top: -82px;
    width: 402px;
    height: 80px;
    padding-top: 34px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 30px;
    z-index: -1;
    pointer-events: all;
    position: relative;
}


.points span {
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.points a {
    margin-left: 20px;
    font-size: 14px;
}

.button_orderlist{
    font-weight: bold;
    font-size: 18px;
    text-decoration-line: none;
    margin-left: 5px;
    color: black;

}

.button_orderlist:hover{
    color: initial;
}

.button_getjellylist:hover{
    color: inherit;
}


.header_point button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: inline;
}


.liked_story {
    width: 600px;
    text-align: left;
    display: block;
}


.liked_story h2 {
    font-size: 24px;
    margin-bottom: 50px;
    height: 20px;
    display: inline;
}

.liked_story_titlelink{
    margin-bottom: 30px;
}

.liked_story_titlelink a{
    float: right;
}


.col-md-4{
    width: 12rem;
}

.carousel-control-prev-icon {
    filter: invert(1) grayscale(1) brightness(1.5); /* 어두운 흰색 톤 */
}


.carousel-control-next-icon {
    filter: invert(1) grayscale(1) brightness(1.5); /* 어두운 흰색 톤 */
}

.written_stories{
    margin-top: 70px;
    width: 600px;

}

.written_stories_title h2 {
    font-size: 24px;
    margin-bottom: 50px;
    height: 20px;
    display: inline;
}

.written_stories_title{
    margin-bottom: 30px;
}

.written_stories_title a{
    float: right;
}

.list-group-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 25px;
}

.rank-number {
    font-size: 1.5em;
    margin-right: 10px;
    font-weight: bold;
    color: #e18348;
}

.story-content {
    flex-grow: 1;
    margin-left: 10px;
}

.story-title a {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.story-meta {
    font-size: 0.9em;
    color: #777;
}
.story-meta {
    font-size: 0.9em;
    color: #777;
}
.story-meta small {
    display: inline;
    margin-right: 2px;
}

.story-image img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.story-meta small img {
    width: 23px;
    height: auto;
    margin-right: -5px;
    margin-bottom: 2px;
}

.story-comments {
    font-size: 0.9em;
    color: #555;
    margin-left: 10px;
}

#likeimg{
    width: 8px;
    height: auto;
    margin-right: 3px;
}


/* 장바구니 관련 css */

.cart{
    margin-top: 50px;
    width: 600px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

.grid-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    height: 240px;
}

.cart_element{
    display: block;
}

.cart_title {
    margin-bottom: 50px;
    width: 600px;
    text-align: left;
}

.cart_title h2 {
    display: inline;
}

.cart_title a {
    float: right;
    margin-top: 30px;
}


.cart_content_link_edit {
    display: inline;
    text-decoration: none;
    color: #004df3;
    border: 1px solid #004df3;
    border-radius: 4px;
}

.cart_content_link_edit:hover{
    background: #004df3;
    color: white;
}

.cart_content_link_delete {
    display: inline;
    text-decoration: none;
    color: #e60b0b;
    border: 1px solid #e60b0b;
    border-radius: 4px;
}

.cart_content_link_delete:hover{
    background: #e60b0b;
    color: white;
}

.cart_content_linkbox{
    margin-top: 30px;
}



.cart_element a{
    display: block;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
}

.cart_element a:hover{
    color: #32b16c;
}

.cart_getwritelist{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    height: 240px;
}

.cart_getwritelist img{
    width: 80%;
    height: auto;
    align-items: center;
    justify-items: auto;
    margin-top: 30px;
}

.cart_getwritelist img:hover{
    width: 100%;
    height: auto;
    align-items: center;
    justify-items: auto;
    margin-top: 20px;
}


