<div class="container">
    <!-- 검색 기능 -->
    <form th:action="@{/search}" method="get" class="search-bar">
        <input type="text" name="query" placeholder="검색어를 입력하세요">
        <button type="submit">검색</button>
    </form>

    <!-- 글 목록 테이블 -->
    <table>
        <thead>
        <tr>
            <th width="15%">사진</th>
            <th width="50%">제목</th>
            <th width="15%">작성일</th>
            <th width="10%">조회수</th>
            <th width="10%">좋아요 수</th>
        </tr>
        </thead>
        <tbody>
        <!-- 타임리프 반복문으로 meongstory 데이터 출력 -->
        <tr th:each="story : ${result.dtoList}">
            <td><img th:src="${story.picture != null ? story.picture : '/image/tool/storydefault.PNG'}" alt="사진" style="width:40%; height: auto;"></td>
            <td><a th:href="@{'/story/' + ${story.seq}}" th:text="${story.title}" >글 제목</a></td> <!-- 제목 -->
            <td th:text="${#temporals.format(story.regdate, 'yyyy-MM-dd')}">작성일</td>
            <td th:text="${story.viewcount}" class="story_count"></td>
            <td th:text="${story.likecount}" class="story_count"></td>
        </tr>
        </tbody>
    </table>

    <!-- 페이지네이션 -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
<!--            이전 페이지로 이동하는 버튼 -->
          <li class="page prev" th:if="${result.prev}">
              <a class="page-link" th:href="@{/mypapeWritelist(page=${result.start - 1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword},current=${current})}" tabindex="-1">Previous</a>
          </li>
<!--            각 페이지 번호를 나타내는 버튼 -->
          <li th:class="'pagenum'+(${result.page == page} ? 'active' : '')" th:each="page : ${result.pageList}" class="page-item" id="mungstorypagemung">
              <a class="page-link" th:href="@{/mypapeWritelist(page=${page}, current=${current}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">[[${page}]]</a>
          </li>

<!--            다음 페이지로 이동하는 버튼-->
            <li class="page next" th:if="${result.next}">
                <a class="page-link" th:href="@{/mypapeWritelist(page=${result.end + 1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword},current=${current})}">Next</a>
            </li>
        </ul>
    </nav>

    <!-- 글쓰기 버튼 -->
    <div class="write-btn">
        <a th:href="@{/write}">
            <button>글쓰기</button>
        </a>
    </div>
</div>