<main class="content" th:fragment="content">
    <section>
        <div class="container2">
            <div class="image-block">
                <img class="logoimg" src="/image/main/logoSizeup.png" alt="강아지 이미지">
            </div>
            <div class="text-block">
                <p class="maintitle">멍멍이 이야기로</p>
                    <p class="maintitle2">뭉치는 공간, <span class="highlight-text">멍뭉!</span></p>
                <p class="maincontent">멍멍이들의 모든 이야기가 모인 곳, 멍뭉이에 오신 걸 환영해요</p>
            </div>

        </div>

        <div class="icon-container">
            <a th:href="@{/mungstory}" class="text-link" id="mungstoryId">
                <img id="mungstory" th:src="@{/image/main/free-icon-pawprints-685005.png}" alt="멍스토리">
                <div class="text">멍 스토리</div>
            </a>
            <a sec:authorize="isAnonymous()" th:href="@{/soshospitallist}" th:onclick="return checkLogin();" class="text-link" id="meongSosId">
                <img id="meongSos" th:src="@{/image/main/free-icon-animal-hospital-12639548.png}" alt="멍SOS">
                <div class="text">SOS 상담</div>
            </a>
            <a sec:authorize="isAuthenticated()" th:href="@{/soshospitallist}" class="text-link" id="meongSosId">
                <img id="meongSos" th:src="@{/image/main/free-icon-animal-hospital-12639548.png}" alt="멍SOS">
                <div class="text">SOS 상담</div>
            </a>
            <a sec:authorize="isAnonymous()" th:href="@{/soshospitallist}" th:onclick="return checkLogin();" class="text-link" id="hospitalId">
                <img id="hospital" th:src="@{/image/main/free-icon-veterinary-clinic-16326535.png}" alt="지역별 동물병원">
                <div class="text">지역별 동물병원</div>
            </a>
            <a sec:authorize="isAuthenticated()" th:href="@{/soshospitallist}" class="text-link" id="hospitalId">
                <img id="hospital" th:src="@{/image/main/free-icon-veterinary-clinic-16326535.png}" alt="지역별 동물병원">
                <div class="text">지역별 동물병원</div>
            </a>
            <a sec:authorize="isAnonymous()" th:href="@{/soshospitallist(isRadio2Selected=true)}" th:onclick="return checkLogin();" class="text-link" id="sosTalkId">
                <img id="sosTalk" th:src="@{/image/main/free-icon-veterinarian-2364991.png}" alt="SOS 상담">
                <div class="text">멍뭉전문가</div>
            </a>
            <a sec:authorize="isAuthenticated()" th:href="@{/soshospitallist(isRadio2Selected=true)}" class="text-link" id="sosTalkId">
                <img id="sosTalk" th:src="@{/image/main/free-icon-veterinarian-2364991.png}" alt="SOS 상담">
                <div class="text">멍뭉전문가</div>
            </a>
            <a sec:authorize="isAnonymous()" th:href="@{/game_list}" th:onclick="return checkLogin();" class="text-link" id="jellyQuestId">
                <img id="jellyQuest" th:src="@{/image/main/free-icon-dog-2934856.png}" alt="젤리퀘스트">
                <div class="text">젤리 퀘스트</div>
            </a>
            <a sec:authorize="isAuthenticated()" th:href="@{/game_list}" class="text-link" id="jellyQuestId">
                <img id="jellyQuest" th:src="@{/image/main/free-icon-dog-2934856.png}" alt="젤리퀘스트">
                <div class="text">젤리 퀘스트</div>
            </a>
            <a sec:authorize="isAnonymous()" th:href="@{/productMain}" th:onclick="return checkLogin();" class="text-link" id="mungShoppingId">
                <img id="mungShopping" th:src="@{/image/main/KakaoTalk_20240906_165913724_02.png}" alt="멍뭉쇼핑">
                <div class="text">멍뭉쇼핑</div>
            </a>
            <a sec:authorize="isAuthenticated()" th:href="@{/productMain}" class="text-link" id="mungShoppingId">
                <img id="mungShopping" th:src="@{/image/main/KakaoTalk_20240906_165913724_02.png}" alt="멍뭉쇼핑">
                <div class="text">멍뭉쇼핑</div>
            </a>
        </div>


        <div class="container">
            <div class="image-container">
                <img src="/image/main/game1.png" name="event1" class="event1" alt="...">
                <a class="aTag1" th:href="@{/game_list}"></a>
            </div>

            <div class="bn">
                <!-- carousel code here -->
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <a href="/mungstory">
                                <img src="/image/main/bn3.png" class="d-block w-100" alt="...">
                            </a>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <a href="/soshospitallist">
                                <img src="/image/main/bn4.png" class="d-block w-100" alt="...">
                            </a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>





        <h6>이번 주 놓치기 아쉬운 멍스토리</h6>
        <!-- topStories 리스트를 5개 출력 -->
        <div class="product-container">
            <div class="product" th:each="story : ${topStories}">
                <!-- 각 상품을 링크로 감싸서 클릭 시 이동 -->
                <a th:href="@{/mungstory/storyread(page=${1},
                             type=${''}, keyword=${''}, current=${1}, seq=${story.seq})}" style="text-decoration: none; color: inherit;">
                    <img th:src="${story.picture != null and !story.picture.isEmpty() ? '/profiles/' + story.picture : '/image/tool/storydefault.PNG'}"
                         alt="Story Image" class="product-image">
                    <div class="description">
                        <p th:text="'작성자: ' + ${story.nickname}"></p>
                        <h3 th:text="${story.title}"></h3>
                        <p th:text="'좋아요 수: ' + ${story.likecount}"></p>
                        <p th:text="'조회 수: ' + ${story.viewcount}"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="dogMoll">
            <br>
            <h6>자주 찾게 되는 멍뭉 필수템</h6>
            <div class="product2-container">
                <div class="product2" th:each="product, iterStat : ${products}"
                     th:classappend="'product2-' + (${iterStat.index} + 1)">
                    <!-- 인덱스 번호를 표시 -->
                    <div class="product-index"></div>
                    <a th:href="@{/productMain}" style="text-decoration: none; color: inherit;">
                        <img th:src="${'/image/product/' + product.productphoto}"
                             alt="Product Image" class="product2-image">
                        <div class="description2">
                            <p th:text="${product.pname}"></p>
<!--                            <h3 th:text="${product.pdescription}"></h3>
                            <p th:text="'카테고리: ' + ${product.pcategory}"></p>
                            <p th:text="${product.pprice} + ' 원' "></p>-->
                        </div>
                    </a>
                </div>
            </div>

            <div class="footerPng">
                <img th:src="@{/image/main/mainfooter.png}" alt="Product Image" class="footerpng-image">
                <img th:src="@{/image/main/mainfooter001.png}" alt="Product Image2" class="footerpng2-image">
            </div>

        </div>



    </section>
</main>
