<main class="content" th:fragment="content">
    <section>
        <div class="container2">
            <div class="text-block">
                <p class="maintitle">송파구의 동물병원</p>
                <p class="maincontent">본문 내용이 들어갈 부분입니다.</p>
                <p class="maintitle2">추가 내용이 들어갈 부분입니다.</p>
            </div>
            <div class="image-block">
                <img class="logoimg" src="/image/main/logoSizeup.png" alt="강아지 이미지">
            </div>
        </div>


        <h6>이번 주 놓치기 아쉬운 멍스토리!!</h6>
        <!-- topStories 리스트를 5개 출력 -->
        <div class="product-container">
            <div class="product" th:each="story : ${topStories}">
                <!-- 각 상품을 링크로 감싸서 클릭 시 이동 -->
                <a th:href="@{/mungstory/storyread(page=${1},
                             type=${''}, keyword=${''}, current=${1}, seq=${story.seq})}" style="text-decoration: none; color: inherit;">
                    <img th:src="@{${story.picture}}" alt="Story Image" class="product-image">
                    <div class="description">
                        <p th:text="'작성자: ' + ${story.nickname}"></p>
                        <h3 th:text="${story.title}"></h3>
                        <p th:text="'좋아요 수: ' + ${story.likecount}"></p>
                        <p th:text="'조회 수: ' + ${story.viewcount}"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="dogMoll">
            <br>
            <h6>인기있는 강아지 간식!!</h6>
            <a href="#">
                <img id="card" th:src="@{/image/main/contentCard.png}" alt="카드">
            </a>
        </div>

    </section>
</main>