<main class="mainContent" th:fragment="mainContent" id="mainContent">
    <div id="content">
        <form th:action="@{/sosboardwrite}" th:method="post" enctype="multipart/form-data" th:onsubmit="return validateForm()">


            <div class="writegroup">
                <input type="text" class="textarea1" name="nickname" th:placeholder="${user.nickname}" th:value="${user.nickname}" disabled>|
                <input type="file" class="form-control-file" id="file" name="file" accept="image/*">
            </div>

            <div class="writegroup">
                <input type="text" class="titlearea" name="title" id="title" placeholder="제목을 입력해주세요.">
            </div>

            <div class="writegroup">
                <textarea class="contentarea" rows="5" name="content" id="boardcontent" placeholder="2500byte 입력 가능"></textarea>
            </div>

            <div>
                <input type="hidden" name="likecount" value="0">
                <input type="hidden" name="commentcount" value="0">
                <input type="hidden" name="viewcount" value="0">
                <input type="hidden" name="uid" th:value="${user.uid}" >
            </div>

            <div class="submitgroup">
                <button type="submit" class="commentSubmit">작성완료</button>
            </div>
        </form>

        <script>

            function validateForm() {
                var title = document.getElementById("title").value.trim();
                var boardcontent = document.getElementById("boardcontent").value.trim();

                // 타이틀 검증
                if (title === "") {
                    alert("제목을 입력해주세요.");
                    document.getElementById("title").focus();  // 타이틀 필드에 포커스
                    return false;  // 폼 제출 방지
                }

                // 컨텐츠 검증
                if (boardcontent === "") {
                    alert("내용를 입력해주세요.");
                    document.getElementById("boardcontent").focus();  // 컨텐츠 필드에 포커스
                    return false;  // 폼 제출 방지
                }

                return true;  // 폼 제출 허용
            }

        </script>

    </div>
</main>