
  <div id="sosPageContent" class="content2" >
    <!-- 검색하기 -->
    <form  action="soshospitallist"  method="get" id="searchForm" class="search-bar" style="margin-top: 40px">
      <div class="submitGroup">
        <input type="hidden" name="page" value="1">
        <input type="hidden" id="currentInput" name="current" value="radio2"> <!-- current 값을 설정 -->
        <div class="group-append" id="button-addon4">
          <input class="control" name="keyword" placeholder="검색어를 입력하세요" value="">
          <button class="btn-search" type="submit">검색</button>
        </div>
        <a href="/vet/list">전문가 프로필 보기</a>
      </div>
    </form>

    <div id="searchResult"> <!-- 이 부분이 AJAX로 갱신될 영역 -->
      <table>
        <thead>
        <tr>
          <th width="10%">글번호</th>
          <th width="15%">사진</th>
          <th width="30%">제목</th>
          <th width="10%">작성자</th>
          <th width="15%">작성일</th>
          <th width="10%">조회수</th>
          <th width="10%">좋아요 수</th>
        </tr>
        </thead>
        <tbody>

        <!-- 상위 3개의 게시물 (페이지가 1일 때만 표시) -->
        <tr th:if="${top3Boards != null} and ${not #lists.isEmpty(top3Boards)} and ${pageRequestDTO.page == 1}"
            th:each="story1 : ${top3Boards}" class="best_sosboard">
          <td th:text="${story1.sosboardseq}"></td>
          <td>
            <img th:src="${story1.picture != null ? '/profiles/' + story1.picture : '/image/tool/storydefault.PNG'}"
                 alt="Story Photo" style="width:100px; height:70px;">
          </td>
          <td>
            <a th:href="@{/sosboardread(seq=${story1.sosboardseq}, page=${pageRequestDTO.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword}, current='radio2')}"
               th:text="${story1.title}"></a>
          </td>
          <td th:text="${story1.nickname}"></td>
          <td th:text="${#dates.format(story1.regdate, 'yyyy-MM-dd')}"></td>
          <td th:text="${story1.viewcount}"></td>
          <td th:text="${story1.likecount}"></td>
        </tr>

        <!-- 일반 게시물 - 상위 3개 게시물 제외 -->
        <tr th:if="${top3Boards != null} and ${not #lists.isEmpty(top3Boards)}"
            th:each="story : ${result.content}"
            th:unless="${#lists.contains(top3Boards, story)}">
          <td th:text="${story.sosboardseq}"></td>
          <td>
            <img th:src="${story.picture != null ? '/profiles/' + story.picture : '/image/tool/storydefault.PNG'}"
                 alt="Story Photo" style="width:100px; height:70px;">
          </td>
          <td>
            <a th:href="@{/sosboardread(seq=${story.sosboardseq}, page=${pageRequestDTO.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword}, current='radio2')}"
               th:text="${story.title}"></a>
          </td>
          <td th:text="${story.nickname}"></td>
          <td th:text="${#dates.format(story.regdate, 'yyyy-MM-dd')}"></td>
          <td th:text="${story.viewcount}"></td>
          <td th:text="${story.likecount}"></td>
        </tr>
        </tbody>
      </table>


      <ul class="paging click">
        <li class="page prev" th:if="${result.hasPrevious()}">
          <a class="page-click" th:href="@{/soshospitallist(page=${result.number - 1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword},current=${current})}">Previous</a>
        </li>
        <li th:class="'pagenum' + (${result.number + 1 == page} ? ' active' : '')"
            th:each="page : ${#numbers.sequence(1, result.totalPages)}">
          <a class="page-click"
             th:href="@{/soshospitallist(page=${page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword}, current=${current})}">
            [[${page}]]
          </a>
        </li>
        <li class="page next" th:if="${result.hasNext()}">
          <a class="page-click" th:href="@{/soshospitallist(page=${result.number + 1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword},current=${current})}">Next</a>
        </li>
      </ul>
    </div>

    <div class="writeBtn">
      <a href="/sosboardwrite" class="writeBtnAtag">글쓰기</a>
    </div>
  </div>