<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멍뭉쇼핑 주문내역</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 부트스트랩 cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- 부트스트랩 아이콘 cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <!--기본 css-->
    <link th:href="@{css/basic.css}" rel="stylesheet">
    <link th:href="@{css/product/getOrderListStyle.css}" rel="stylesheet">
</head>

<body>
<!-- 헤더 영역 -->
<th:block th:replace="fragments/nav :: header"></th:block>

<!-- SNB 영역 -->
<th:block th:replace="fragments/nav :: navMenu"></th:block>

<!-- 메인 컨텐츠 영역 -->
<h5 class="order-massage">주문내역 확인하기</h5>
<div class="container">
    <h5>배송 정보</h5>
    <div th:each="order : ${orders}">
        <div class="payProduct">
            주문 번호: <span th:text="${order.orderno}"></span><br>
            상품명 : <span th:text="${order.product.pname}"></span><br>
            받는 사람 이름 : <span th:text="${order.resname}"></span><br>
            연락처 : <span th:text="${order.resphone}"></span><br>
            배송지 : <span th:text="${order.roadaddress} + ' ' + ${order.detailaddress}"></span><br>
            요청사항 : <span th:text="${order.resrequirement}"></span><br>
            총 결제 금액 : <span th:text="${order.totalprice}"></span> 원
        </div>
        <a th:href="@{/get_order_check(orderNo=${order.orderno})}">
            <button class="order-check-button">배송 상태 상세보기</button>
        </a>
        <hr>
    </div>
</div>

<div class="allButton">
    <a th:href="@{/meongmung}">
        <button class="home-button" id="homeButton">HOME</button>
    </a>
    <a th:href="@{/productMain}">
        <button class="cart-button" id="cartButton">계속 쇼핑하기</button>
    </a>
</div>

<!-- 푸터 영역 -->
<th:block th:replace="fragments/nav :: footer"></th:block>
</body>
</html>