@font-face {
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    width: 1000px;
    height: 600px;
    /*border: 1px solid #6bb08b;*/
    margin: 0 auto;
    border-radius: 16px 16px 0 0;
    background-color: #52b9d1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameDetail {
    width: 1000px;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
}

.gameImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 16px 16px;
}

#ttt-container{
    margin-top: 20px;
}

table {
    border-collapse: collapse;
}

td {
    background-color: #ffff;
    border: 1px solid #52b9d1;
    width: 130px;
    height: 130px;
    text-align: center;
    font-size: 40px;
}

.result-message {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
}
