

.header {
    margin-bottom: 30px;
}


.login {
    display: block;
    text-align: left;
    float: left;
    color: #666;
    margin-bottom:20px;
    padding-right: 430px;
    margin-top: 100px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    clear: both;
    width: 600px;
    margin-bottom: 100px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
    width: 500px;
    margin-bottom: 10px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 15px;
    font-weight: bold;

}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #a4e4be;
    border-radius:10px;
    font-size: 0.9rem;
    box-sizing: border-box;
    margin-bottom: -10px;

}

.form-group p {
    font-size: 0.8rem;
    color: #eaeaea;
    margin-bottom: 15px;
    padding: 10px;
    color: #a8a8a8;
}

.login-btn {
    padding: 10px 20px;
    background-color: #66c299;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 60px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    width: 500px;
}
.signup-btn {
    padding: 10px 20px;
    background-color: #66c299;
    border: none;
    border-radius: 15px;
    margin-bottom: 40px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    width: 500px;

}

.signup-btn a {
    text-decoration: none;
    color: inherit;
}

.signup-btn a:visited,
.signup-btn a:hover,
.signup-btn a:active {
    color: inherit; /
text-decoration: none;
}


.login-btn:hover {
    background-color: #57a885;
}

.signup-btn:hover {
    background-color: #57a885;
}

/* 모달창 기본 스타일 */
.modal {
    display: none; /* 처음에는 보이지 않도록 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 배경을 어둡게 */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.find-links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.find-links button {
    width: 135px;
    background-color: #2aaff8;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
    margin-bottom: 150px;
}

.submit-btn {
    margin-top: 30px;
    background-color: #2aaff8;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-left: 5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}